

<div class="d-flex">

  <div class="border-right p-3" id="sidebar" [class.active]="isSidebarActive">

    <h3 class="text-center">FinancesApp</h3>

    <button class="btn d-block d-md-none" id="sidebar-toggle" (click)="toggleSidebar()">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M14 7l-5 5 5 5V7z"/><path d="M24 0v24H0V0h24z" fill="none"/></svg>
    </button>


    <hr>

    <div class="list-group list-reset text-center">

      <h4 class="text-center mb-3">Access Menu</h4>
      <ul>
        <li
          *ngFor="let tag of tags"
          class="list-group-item mt-2 list-group-item-action"
          (click)="toggleSidebar()"
          [routerLink]="tag.route"
          >
          {{tag.label| titlecase}}
        </li>
      </ul>
    </div>
  </div>

  <button class="btn btn-secondary d-block d-md-none" id="sidebar-toggle" (click)="toggleSidebar()">
    ☰
  </button>

  <div class="flex-grow-1 p-3" id="content">
    <router-outlet></router-outlet>
  </div>

</div>
